* 
{
	box-sizing: border-box;
}

*:before, *:after
{
	box-sizing: border-box;
}

a,a:visited
{
	text-decoration: none;
	color: inherit;
}

body 
{
	background-image: url("../images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #999;
	font: 400 16px/1.5em sans-serif;
	margin: 0;
}

.container
{
	left: 50%;
	position: fixed;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#login-form
{
	width: 400px;
}

#login-form footer
{
	font-size: 12px;
	margin-top: 16px;
}

h3
{
	cursor: pointer;
	margin: 0;
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	width: 50%
}

h3#signin
{
	float: right;
}



h3:hover
{
	background-color: #000;
}



#forgotten
{
	color: #999;
	text-decoration: none;
	font-weight: bold;
}

#forgotten:hover {
  color: #1dabb8;
}

fieldset
{
	border: none;
	margin: 0;
	min-height: 20%;
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

fieldset:before
{
	background-color: #fff;
	content: "";
	height: 8px;
	width: 8px;
	left: 50%;
	top: 0;
	margin: -4px 0 0 -4px;
	position: absolute;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

input
{
	border: none;
	font-family: inherit;
	font-size: 14px;
	margin: 10px 0px;
	padding: 10px;
	-webkit-appearance: none;
}

input:focus
{
	outline: none;
}

input.login[type="submit"]
{
	cursor: pointer;
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 20px;
}

input.login[type="submit"]:hover
{
	background: #198d98;
}

input.login[type="text"]
{
	border-radius: 3px 3px 0 0;
	border: 1px solid #dcdcdc;
	width: 90%;
}

input.login[type="password"]
{
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	border: 1px solid #dcdcdc;
	width: 90%;
}

input.signin[type="password"]
{
	border: 1px solid #dcdcdc;
	width: 45%;
	min-width: 100px;
}

input.signin[type="email"]
{
	border: 1px solid #dcdcdc;
	min-width: 100px;
}

input.signin[type="text"]
{
	border: 1px solid #dcdcdc;
	min-width: 100px;
}

input.signin[type="submit"]
{
	cursor: pointer;
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	width: 100%;
	padding: 20px 0px;
}

input.signin[type="submit"]:hover
{
	background: #198d98;
}

.condutil
{
	color: #999;
	font-size: 11px;
	display: inline-block;
	margin-left: 6px;
}

.condutil a:hover
{
	color: #1dabb8;
	text-decoration: underline;
}

.info
{
	cursor: help;
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}
