body 
{
	background-image: url("../img/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #999;
	font: 400 16px/1.5em sans-serif;
	margin: 0;
}

header
{
	background-color: rgba(99, 99, 99, 0.7);
	margin-top: 20px;
	border: inset;
	border-radius: 5px;
	min-width: 600px;
	height: 100px;
}

#menu
{
	background-color: none;
	position: relative;
	float: right;
	height: 100%;
	width: 40%;
}

.creator
{
	background-color: rgba(99, 99, 99, 0.7);
	font-family: arial;
	font-size: 1.5em;
	color: #fff;
	width: auto;
	max-width: 200px;
	height: 100%;
	
}

.creator:hover
{
	background-color: rgba(66, 66, 66, 0.7);
	cursor: pointer;
}

.deco
{
	background-color: rgba(99, 99, 99, 0.7);
	font-family: arial;
	font-size: 1.5em;
	color: #fff;
	width: auto;
	max-width: 200px;
	height: 100%;
}

.deco:hover
{
	background-color: rgba(66, 66, 66, 0.7);
	cursor: pointer;
}

#sheet
{
	position: relative;
	left: 30%;
	top: 100px;
	display: block;
	background-color: #eee;
	color: #000;
	width: 40%;
	padding: 35px;
	border-radius: 3px;
}
