body 
{
	background-image: url("../img/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #999;
	font: 400 16px/1.5em sans-serif;
	margin: 0;
}

header
{
	background-color: rgba(99, 99, 99, 0.7);
	margin-top: 20px;
	border: inset;
	border-radius: 5px;
	min-width: 600px;
	height: 100px;
}

header:hover
{
	background-color: rgba(66, 66, 66, 0.7);
}

.container
{
	width: 100%;
	height: 500px;
}

.postcontainer
{
	display: block;
	width: 380px;
	height: 430px;
	
	/* Défaut */
	transform: rotate(-5deg);
	/* Firefox */
	-moz-transform: rotate(-5deg);
	/* Safari+Chrome */
	-webkit-transform: rotate(-5deg);
	/* Internet Explorer 9.0*/
	-ms-transform: rotate(-5deg);
	/* Opera */
	-o-transform: rotate(-5deg);
}

input[type="button"]
{
	position: relative;
	top: 2%;
	left: 40%;
	border-radius: 20px;
	background: #dd6;
}

input[type="button"]:hover
{
	background: #aa4;
	cursor: pointer;
}

.postit
{
	font-family:"Reenie Beanie", arial, sans-serif;
	font-size: 200%;
	color: #000;
	padding: 20px 40px 20px 50px;
	width: 250px;
	height: 300px;
	background-color: #ffc;
	border-bottom-right-radius: 50px 10px;
	
	/* Défaut */
	box-shadow: 15px 15px 20px rgba(10, 10, 10, 1);
	background: linear-gradient(135deg, #ff7 80%, #ffc 100%);
	/* Firefox */
	-moz-box-shadow: 15px 15px 20px rgba(10, 10, 10, 1);
	background: -moz-linear-gradient(-45deg, #ff7 80%, #ffc 100%);
	/* Safari+Chrome */
	-webkit-box-shadow: 10px 10px 15px rgba(10, 10, 10, 1);
	background: -webkit-linear-gradient(-45deg, #ff7 80%, #ffc 100%);
	/* Opera */
	background: -o-linear-gradient(135deg, #ff7 80%, #ffc 100%);
	
}

.postit:hover
{
	background: #dd5;
	cursor: pointer;
}

#todocontainer
{
	float: left;
	margin-left: 3%;
}

#wipcontainer
{
	margin-top: 50px;
	margin-left: 43%;
}

#donecontainer
{
	float: left;
	margin-top: 10px;
	margin-left: 18%;
}

#toolatecontainer
{
	margin-top: 10px;
	margin-left: 58%;
}
